@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

body {
    background: rgb(255,255,255);
    background: linear-gradient(135deg, rgba(255,255,255,1) 0%, rgba(0,255,196,1) 50%, rgba(13,13,13,1) 100%);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 100px;
    color: #ffffff;
    text-align: center;
    margin-top: 0;
    padding-top: 150px;
}

#align-play-button {
    display: block;
    text-align: center;
    margin: 0 auto;
}

button {
    width: 130px;
    height: 70px;
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: bold;
    border-radius: 10px;
    background-color:crimson;
    color: white;
    border-width: 10px;
    cursor: pointer;
    box-shadow: 2px 4px 16px #000000;
}